@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.home-container {
  min-height: 80vh;                
  padding: 50px;

  .home-intro {
    // padding: 50px;
    text-align: justify;

    h1 {
      color: lightseagreen;
      margin-bottom: 20px;
      text-transform: uppercase;

      span {
          font-size: 48px;
          color: #ff7512;
      }
      
    }

    h2 {
      margin-top: 40px;
      margin-bottom: 20px;
      overflow: hidden;
      white-space: nowrap;
      animation: fade 2.1s infinite;
    }

    p {
      width: 90%;
      font-size: 18px;
    }

    .home-buttons {
      display: flex;
      justify-content: space-between;
      width: 31%;
      margin-top: 30px;
      height: 60px;
      padding: 10px 0;
    }
  }
}