.plans-container {
    // background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("/images/movie1.jpg");
    // background-size: cover;
    // background-position: center;
    padding-bottom: 40px;

    .plans-title {
        padding-top: 50px;
        margin-left: 50px;
        color: #ff7512;
        text-transform: uppercase;
    }
    
    p {
        margin: 10px 50px;
    }
    
    .plans-layout {
        display: flex;
        justify-content: space-around;
        height: 300px;
        margin: 40px 20px 0px;
    
        .single-plan {
            width: 30%;
            border: 1px solid white;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            transition: transform 0.2 ease;

            &:hover {
                transform: scale(1.02);                
            }
    
            h2 {
                text-align: center;
                width: 100%;
                background-color: rgb(22, 133, 133);
                color: white;

            }
    
            ul {
                padding: 0;             // ul ka padding by default keshtuqe ia kom heke
                list-style-type: none;
            }
    
            h3 {
                padding: 2px 10px;
                border-radius: 15px;
                background-color: rgb(22, 133, 133);
                color: rgb(239, 239, 46);
            }
        }
    }
}